@model _CurriculumManagerSystem.Models.Chitiet_Chuong

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Chitiet_Chuong</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.chiso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.chiso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tentieumuc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tentieumuc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tuanhoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tuanhoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.thoiluonghoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.thoiluonghoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.mact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.mact)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.mactchuong">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
