@model IEnumerable<_CurriculumManagerSystem.Models.Chitiet_Chuong>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.chiso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tentieumuc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tuanhoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.thoiluonghoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mact)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.chiso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tentieumuc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tuanhoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.thoiluonghoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mact)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.mactchuong">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.mactchuong">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.mactchuong">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
