@model _CurriculumManagerSystem.Models.DeCuongNhiemvu

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DeCuongNhiemvu</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeCuongchiTiet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeCuongchiTiet.mahp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhiemvuSV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhiemvuSV.manv)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.dcnv_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
