@model IEnumerable<_CurriculumManagerSystem.Models.DeCuongNhiemvu>

@{
    ViewData["Title"] = "Index";
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h3 class="titile-table">ĐỀ CƯƠNG NHIỆM VỤ | <a class="near-titile-table" asp-action="create">Thêm</a>
                </h3>
            </div>
            <div class="body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.DeCuongchiTiet)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.NhiemvuSV)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DeCuongchiTiet.tenhp_tviet)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NhiemvuSV.noidung)
                                    </td>
                                    <td>
                                        <a class="material-icons" asp-action="Edit"
                                        asp-route-id="@item.dcnv_id">mode_edit</a>
                                        <a class="material-icons" asp-action="Delete"
                                        asp-route-id="@item.dcnv_id">delete_forever</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
