
@model IEnumerable<_CurriculumManagerSystem.Models.CLPO>
@{
    ViewData["Title"] = "Index";
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h3 class="titile-table">CLPO
                    @* @foreach (var item in TempData["tenhp_tviet"])
                    {
                        @item.tenhp_tviet
                    }  *@
                </h3>
            </div>
            <div class="body">
                <div class="table-responsive">
                    <table class="table table-bordered" border="1" cellspacing="0" cellpadding="5" style="text-align:center;">
                        <thead style="background-color: lightblue; text-align:center;">
                            <tr>
                                <th rowspan="2" style="text-align:center;">
                                    CLOs
                                </th>
                                <th colspan="14" style="text-align:center;">
                                    PLOs
                                </th>
                            </tr>
                            
                        </thead>
                        <tbody>
                            @* Plos hang o tren *@
                            <tr>
                                <td>
                                    @foreach ( var item in Model)
                                    {
                                        <td>@Html.DisplayFor(modelItem => item.Chuandaura_monhoc.chisocio)</td>
                                    }
                                </td>
                            </tr>
                            @*hangbentrai*@
                                @foreach (var item in Model)
                                {
                                    <tr>
                                    
                                        <td>@Html.DisplayFor(modelItem => item.PLO.chisoplo)</td>
                                         @foreach (var items in Model)
                                            {
                                                @if(@items.macdmon == @item.Chuandaura_monhoc.macdmon && @items.maplo ==@item.PLO.maplo )
                                                    {
                                                        <td>
                                                            X
                                                        </td>
                                                    }
                                                else
                                                    {
                                                        <td></td>
                                                    }
                                            }
                                    </tr>
                                }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>