@model _CurriculumManagerSystem.Models.DeCuongchiTiet
@using Microsoft.AspNetCore.Http;
@using System.Data;
@{
    ViewData["Title"] = "Create";

}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                @if (@Context.Session.GetString("nameDecuong") == null)
                        {
                           <h2 class="titile-table">TẠO MỚI ĐỀ CƯƠNG CHI TIẾT</h2>
                        }
                else
                        {
                            <h2 class="titile-table">TẠO MỚI ĐỀ CƯƠNG CHI TIẾT - <b>@Context.Session.GetString("nameDecuong")</b></h2>
                        }
                
                @* <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons">more_vert</i>
                    </a>
                    <ul class="dropdown-menu pull-right">
                    <li><a href="javascript:void(0);">Action</a></li>
                    <li><a href="javascript:void(0);">Another action</a></li>
                    <li><a href="javascript:void(0);">Something else here</a></li>
                    </ul>
                    </li>
                    </ul> *@
            </div>
            <div class="body">
                <!-- Nav tabs -->
                <ul id="myTab" class="nav nav-tabs tab-nav-right" role="tablist">
                    <li role="presentation" class="active"><a role="tab" href="#decuongchitiet" data-toggle="tab">ĐỀ CƯƠNG CHI TIẾT</a></li>
                    <li role="presentation"><a role="tab" href="#muctieu" data-toggle="tab">MỤC TIÊU</a></li>
                    <li role="presentation"><a role="tab" href="#decuongnhiemvu" data-toggle="tab">NHIỆM VỤ</a></li>
                    <li role="presentation"><a role="tab" href="#decuongquydinh" data-toggle="tab">QUY ĐỊNH</a></li>
                    <li role="presentation"><a role="tab" href="#decuonghinhthuc" data-toggle="tab">HÌNH THỨC</a></li>
                    <li role="presentation"><a role="tab" href="#chitietmonhoc" data-toggle="tab">CHI TIẾT MÔN HỌC</a></li>
                    <li role="presentation"><a role="tab" href="#chitietchuong" data-toggle="tab">CHi TIẾT CHƯƠNG</a></li>
                    <li role="presentation"><a role="tab" href="#phutrach" data-toggle="tab">PHỤ TRÁCH</a></li>
                    <li role="presentation"><a role="tab" href="#thoigianhoc" data-toggle="tab">THỜI GIAN HỌC</a></li>
                    <li role="presentation"><a role="tab" href="#chuandauramonhoc" data-toggle="tab">CHUẨN ĐẦU RA MÔN HỌC</a></li>
                    <li role="presentation"><a role="tab" href="#CLPO" data-toggle="tab">CLPO</a></li>
                    <li role="presentation"><a role="tab" href="#CLO_PPHOC" data-toggle="tab">CLO PHƯƠNG PHÁP HỌC</a></li>
                     <li role="presentation"><a role="tab" href="#CLO_DAY" data-toggle="tab">CLO PHƯƠNG PHÁP DẠY</a></li>
                    
                    <li role="presentation"><a role="tab" href="#decuongtailieu" data-toggle="tab">TÀI LIỆU</a></li>
                    

                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="decuongchitiet">
                        <div class="body">
                            <form class="form-horizontal" asp-action="Create">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="row clearfix">
                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                        <label asp-for="mahp_decuong">Mã học phần <span
                                                class="text-danger">*</span></label>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                                        <div class="form-group">
                                            <div class="form-line">
                                                @* <textarea required asp-for="mahp_decuong" class="form-control"
                                                    placeholder="Tên
                                                    học phần tiếng việt"></textarea> *@
                                                <input required type="text" asp-for="mahp_decuong" class="form-control"
                                                    placeholder="Mã học phần">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                        <label asp-for="tenhp_tviet">Tên học phần tiếng việt <span
                                                class="text-danger">*</span></label>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                                        <div class="form-group">
                                            <div class="form-line">
                                                @* <textarea required asp-for="tenhp_tviet" class="form-control"
                                                    placeholder="Tên
                                                    học phần tiếng việt"></textarea> *@
                                                <input required type="text" asp-for="tenhp_tviet" class="form-control"
                                                    placeholder="Tên học phần tiếng việt">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                        <label asp-for="tenhp_tanh">Tên học phần tiếng anh <span
                                                class="text-danger">*</span></label>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                                        <div class="form-group">

                                            <div class="form-line">
                                                @* <textarea required asp-for="tenhp_tanh" class="form-control"
                                                    placeholder="Tên học
                                                    phần tiếng anh"></textarea> *@
                                                <input required type="text" asp-for="tenhp_tanh" class="form-control"
                                                    placeholder="Tên học phần tiếng anh">
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                        <label asp-for="sotc_lt">Số tín chỉ lý thuyết <span
                                                class="text-danger">*</span></label>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                                        <div class="form-group">

                                            <div class="form-line">
                                                @* <textarea required asp-for="sotc_lt" class="form-control"
                                                    placeholder="Số tín chỉ
                                                    lý thuyết"></textarea> *@
                                                <input required min="0" max="5" type="number" asp-for="sotc_lt"
                                                    class="form-control" placeholder="Số tín chỉ lý thuyết">
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                        <label asp-for="sotc_th">Số tín chỉ thực hành <span
                                                class="text-danger">*</span></label>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                                        <div class="form-group">

                                            <div class="form-line">
                                                @* <textarea required asp-for="sotc_th" class="form-control"
                                                    placeholder="Số tín chỉ
                                                    thực hành"></textarea> *@
                                                <input required min="0" max="10" type="number" asp-for="sotc_th"
                                                    class="form-control" placeholder="Số tín chỉ thực hành">
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                        <label asp-for="yeucau_hocphan">Yêu cầu học phần</label>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                                        <div class="form-group">

                                            <div class="form-line">
                                                @* <textarea required asp-for="yeucau_hocphan"
                                                    class="form-control"
                                                    placeholder="Yêu cầu học phần"></textarea> *@
                                                <input type="text" asp-for="yeucau_hocphan"
                                                    class="form-control" placeholder="Yêu cầu học phần">
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                        <label asp-for="hp_tienquyet">Học phần học trước</label>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                                        <div class="form-group">

                                            <div class="form-line">
                                                @* <textarea required asp-for="hp_tienquyet"
                                                    class="form-control"
                                                    placeholder="Học phần học trước"></textarea> *@
                                                <input type="text" asp-for="hp_tienquyet"
                                                    class="form-control" placeholder="Học phần học trước">
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                        <label asp-for="yeucaukhacvoi_hocphan">Yêu cầu khác với học phần</label>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                                        <div class="form-group">

                                            <div class="form-line">
                                                @* <textarea required asp-for="yeucaukhacvoi_hocphan"
                                                    class="form-control"
                                                    placeholder="Yêu cầu khác với học phần"></textarea> *@
                                                <input type="text" asp-for="yeucaukhacvoi_hocphan"
                                                    class="form-control" placeholder="Yêu cầu khác với học phần">
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                        <label asp-for="tomtat_noidunghocphan">Tóm tắt nội dung học phần <span
                                                class="text-danger">*</span></label>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                                        <div class="form-group">

                                            <div class="form-line">
                                                <textarea required asp-for="tomtat_noidunghocphan" class="form-control"
                                                    placeholder="Tóm tắt nội dung học phần"></textarea>
                                                @* <input type="text" asp-for="tomtat_noidunghocphan"
                                                    class="form-control"
                                                    placeholder="Tóm tắt nội dung học phần"> *@
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                        <label asp-for="makkt">Khối kiến thức <span class="text-danger">*</span></label>
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                                        <div class="form-group">

                                            <select required class="form-control show-tick" asp-for="makkt"
                                                asp-items="ViewBag.makkt">
                                                <option selected="selected" value="" disabled>Vui lòng chọn một </option>
                                            </select>

                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-4 col-xs-offset-5">
                                        <a asp-action="Index" class="btn btn-default waves-effect" style="margin-left: 82%;">Trở về trang chủ</a> |
                                        <input type="submit" class="btn btn-primary waves-effect"
                                            value="Tạo mới"></input>
                                            
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="muctieu">
                        @if(@Context.Session.GetInt32("idMuctieu") == null)
                        {
                            @await Component.InvokeAsync("EditMucTieu")
                        }
                        else
                        {
                            @await Component.InvokeAsync("EditMucTieu", new {id = @Context.Session.GetInt32("idMuctieu")})
                        }
                        @if (@Context.Session.GetInt32("idDecuong") == null)
                        {
                            @await Component.InvokeAsync("GetMucTieu", new { id = 0})
                        }
                        else
                        {
                            @await Component.InvokeAsync("GetMucTieu", new {id = @Context.Session.GetInt32("idDecuong")})
                        }
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="decuongnhiemvu">
                        
                       @await Component.InvokeAsync("Create_Nhiemvu")
                       @*loaibo*@
                       @if (@Context.Session.GetInt32("idDecuong") == null)
                        {
                            @await Component.InvokeAsync("Get_Nhiemvu")
                            
                        }
                        else
                        {
                           @await Component.InvokeAsync("Get_Nhiemvu", new {id = @Context.Session.GetInt32("idDecuong")})
                        }
                       
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="decuongquydinh">
                        @await Component.InvokeAsync("Create_Quydinh_checkbox")
                       @*loaibo*@
                        @if (@Context.Session.GetInt32("idDecuong") == null)
                        {
                             @await Component.InvokeAsync("Get_Quydinh")
                        }
                        else
                        {
                             @await Component.InvokeAsync("Get_Quydinh", new {id = @Context.Session.GetInt32("idDecuong")})
                        }
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="decuonghinhthuc">
                       
                        @await Component.InvokeAsync("Create_Hinhthuc")
                       @*loaibo*@
                        @if (@Context.Session.GetInt32("idDecuong") == null)
                        {
                             @await Component.InvokeAsync("Get_Hinhthuc")
                        }
                        else
                        {
                             @await Component.InvokeAsync("Get_Hinhthuc", new {id = @Context.Session.GetInt32("idDecuong")})
                        }
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="chitietmonhoc">
                       
                        @if(@Context.Session.GetInt32("idChitietmonhoc") == null)
                        {
                            @await Component.InvokeAsync("Create_Chitietmonhoc", new { id = 0})
                        }
                        else
                        {
                            @await Component.InvokeAsync("Create_Chitietmonhoc", new {id = @Context.Session.GetInt32("idChitietmonhoc")})
                        }
                       
                        @if (@Context.Session.GetInt32("idDecuong") == null)
                        {
                            @await Component.InvokeAsync("Get_Chitietmonhoc")
                        }
                        else
                        {
                            @await Component.InvokeAsync("Get_Chitietmonhoc", new {id = @Context.Session.GetInt32("idDecuong")})
                        }
                        
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="chitietchuong">
                         
                        @if(@Context.Session.GetInt32("idChitietchuong") == null)
                        {
                            @await Component.InvokeAsync("Create_Chitietchuong", new {id =0})
                        }
                        else
                        {
                             @await Component.InvokeAsync("Create_Chitietchuong", new {id = @Context.Session.GetInt32("idChitietchuong")})
                        }
                            @if (@Context.Session.GetInt32("idDecuong") == null)
                        {
                            @await Component.InvokeAsync("Get_Chitietchuong")
                        }
                        else
                        {
                           @await Component.InvokeAsync("Get_Chitietchuong", new {id = @Context.Session.GetInt32("idDecuong")})
                        }


                    </div>
                    
                    <div role="tabpanel" class="tab-pane fade" id="phutrach">
                         
                        @if(@Context.Session.GetInt32("idPhutrach") == null)
                        {
                            @await Component.InvokeAsync("Create_Phutrach", new { id = 0})
                        }
                        else
                        {
                            @await Component.InvokeAsync("Create_Phutrach", new {id = @Context.Session.GetInt32("idPhutrach")})
                        }
                        
                         @if (@Context.Session.GetInt32("idDecuong") == null)
                        {
                            @await Component.InvokeAsync("Get_Phutrach")
                        }
                        else
                        {
                           @await Component.InvokeAsync("Get_Phutrach", new {id = @Context.Session.GetInt32("idDecuong")})
                        }
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="thoigianhoc">
                        
                        @if(@Context.Session.GetInt32("idThoigianhoc") == null)
                        {
                            @await Component.InvokeAsync("Create_Thoigianhoc")
                        }
                        else
                        {
                            @await Component.InvokeAsync("Create_Thoigianhoc", new {id = @Context.Session.GetInt32("idThoigianhoc")})
                        }
                        @if (@Context.Session.GetInt32("idDecuong") == null)
                        {
                            @await Component.InvokeAsync("Get_Thoigianhoc")
                        }
                        else
                        {
                            @await Component.InvokeAsync("Get_Thoigianhoc", new {id = @Context.Session.GetInt32("idDecuong")})
                        }
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="chuandauramonhoc">
                         
                        
                        @if(@Context.Session.GetInt32("idchuandauramonhoc") == null)
                        {
                            @await Component.InvokeAsync("Create_Chuandauramonhoc", new { id = 0})
                        }
                        else
                        {
                            @await Component.InvokeAsync("Create_Chuandauramonhoc", new {id = @Context.Session.GetInt32("idchuandauramonhoc")})
                        }
                         @if (@Context.Session.GetInt32("idDecuong") == null)
                        {
                             @await Component.InvokeAsync("Get_Chuandauramonhoc")
                        }
                        else
                        {
                            @await Component.InvokeAsync("Get_Chuandauramonhoc", new {id = @Context.Session.GetInt32("idDecuong")})
                        }

                    </div>
                     <div role="tabpanel" class="tab-pane fade" id="CLPO">
                        @if(@Context.Session.GetInt32("idClpo") == null)
                        {
                            @await Component.InvokeAsync("Create_CLPO", new { id = 0})
                        }
                        else
                        {
                            @await Component.InvokeAsync("Create_CLPO", new {id = @Context.Session.GetInt32("idClpo")})
                        }
                         @if (@Context.Session.GetInt32("idDecuong") == null)
                        {
                            @await Component.InvokeAsync("Get_CLPO")
                        }
                        else
                        {
                           @await Component.InvokeAsync("Get_CLPO", new {id = @Context.Session.GetInt32("idDecuong")})
                        }
                        
                    </div>
                     <div role="tabpanel" class="tab-pane fade" id="CLO_PPHOC">
                        @if(@Context.Session.GetInt32("idClo_pphoc") == null)
                        {
                            @await Component.InvokeAsync("Create_CLO_pphoc", new { id = 0})
                        }
                        else
                        {
                            @await Component.InvokeAsync("Create_CLO_pphoc", new {id = @Context.Session.GetInt32("idClo_pphoc")})
                        }
                         @if (@Context.Session.GetInt32("idDecuong") == null)
                        {
                            @await Component.InvokeAsync("GetClopphoc")
                        }
                        else
                        {
                           @await Component.InvokeAsync("GetClopphoc", new {id = @Context.Session.GetInt32("idDecuong")})
                        }
                        
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="CLO_DAY">
                        @if(@Context.Session.GetInt32("idClo_ppday") == null)
                        {
                            @await Component.InvokeAsync("Create_CLO_ppday", new { id = 0})
                        }
                        else
                        {
                            @await Component.InvokeAsync("Create_CLO_ppday", new {id = @Context.Session.GetInt32("idClo_ppday")})
                        }
                         @if (@Context.Session.GetInt32("idDecuong") == null)
                        {
                            @await Component.InvokeAsync("GetCloppday")
                        }
                        else
                        {
                           @await Component.InvokeAsync("GetCloppday", new {id = @Context.Session.GetInt32("idDecuong")})
                        }
                        
                    </div>
                     
                    <div role="tabpanel" class="tab-pane fade" id="decuongtailieu">
                        @await Component.InvokeAsync("Create_Tailieu")

                        @await Component.InvokeAsync("Create_DcTailieu")
                        @if (@Context.Session.GetInt32("idDecuong") == null)
                        {
                            @await Component.InvokeAsync("Get_Tailieu")
                        }
                        else
                        {
                           @await Component.InvokeAsync("Get_Tailieu", new {id = @Context.Session.GetInt32("idDecuong")})
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>