@model _CurriculumManagerSystem.Models.DeCuongchiTiet
@using Microsoft.AspNetCore.Http;
@using System.Data;
@{
    ViewData["Title"] = "Edit";
    @* var returnParam = ViewData["ReturnUrl"] as string; *@
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2 class="titile-table">CẬP NHẬT ĐỀ CƯƠNG CHI TIẾT - <b>@TempData["name_dccht"]</b></h2>
            </div>
            <div class="body">
                <!-- Nav tabs -->
                <ul id="myTab" class="nav nav-tabs tab-nav-right" role="tablist">
                    <li role="presentation" class="active"><a role="tab" href="#decuongchitiet" data-toggle="tab">ĐỀ CƯƠNG CHI TIẾT</a></li>
                    <li role="presentation"><a role="tab" href="#muctieu" data-toggle="tab">MỤC TIÊU</a></li>
                    <li role="presentation"><a role="tab" href="#decuongnhiemvu" data-toggle="tab">NHIỆM VỤ</a></li>
                    <li role="presentation"><a role="tab" href="#decuongquydinh" data-toggle="tab">QUY ĐỊNH</a></li>
                    <li role="presentation"><a role="tab" href="#decuonghinhthuc" data-toggle="tab">HÌNH THỨC</a></li>
                    <li role="presentation"><a role="tab" href="#chitietmonhoc" data-toggle="tab">CHI TIẾT MÔN HỌC</a></li>
                    <li role="presentation"><a role="tab" href="#chitietchuong" data-toggle="tab">CHi TIẾT CHƯƠNG</a></li>
                    <li role="presentation"><a role="tab" href="#phutrach" data-toggle="tab">PHỤ TRÁCH</a></li>
                    <li role="presentation"><a role="tab" href="#thoigianhoc" data-toggle="tab">THỜI GIAN HỌC</a></li>
                    <li role="presentation"><a role="tab" href="#chuandauramonhoc" data-toggle="tab">CHUẨN ĐẦU RA MÔN HỌC</a></li>
                    @* <li role="presentation"><a role="tab" href="#tailieu" data-toggle="tab">TÀI LIỆU</a></li> *@
                    <li role="presentation"><a role="tab" href="#decuongtailieu" data-toggle="tab">TÀI LIỆU</a></li>
                    

                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="decuongchitiet">
                       @if(@Context.Session.GetInt32("id_edit_dccht_after") == null)
                       {
                             @await Component.InvokeAsync("Edit_Decuongchitiet", new {id = @Context.Session.GetInt32("id_edit_dccht")})
                       }
                       else
                       {
                             @await Component.InvokeAsync("Edit_Decuongchitiet" , new {id = @Context.Session.GetInt32("id_edit_dccht_after")});
                       }
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="muctieu">
                         @if(@Context.Session.GetInt32("id_edit_dccht_after") == null)
                        {
                            @await Component.InvokeAsync("GetMucTieu")
                        }
                        else
                        {
                            @await Component.InvokeAsync("GetMucTieu", new {id = @Context.Session.GetInt32("id_edit_dccht_after")})
                        }
                        
                        @if(@Context.Session.GetInt32("id_edit_mt") == null)
                        {
                            @await Component.InvokeAsync("Edit_MucTieu", new {id = 0});
                        }
                        else
                        {
                            @await Component.InvokeAsync("Edit_MucTieu", new {id = @Context.Session.GetInt32("id_edit_dccht")});
                        }
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="decuongnhiemvu">
                       @await Component.InvokeAsync("Create_Nhiemvu")
                       @await Component.InvokeAsync("Edit_Nhiemvu")
                       @if (@Context.Session.GetInt32("id_edit_dccht_after") == null)
                        {
                            @await Component.InvokeAsync("Get_Nhiemvu")
                        }
                        else
                        {
                           @await Component.InvokeAsync("Get_Nhiemvu", new {id = @Context.Session.GetInt32("id_edit_dccht_after")})
                        }
                       
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="decuongquydinh">
                        @await Component.InvokeAsync("Create_Quydinh_checkbox")
                       
                        @if (@Context.Session.GetInt32("id_edit_dccht_after") == null)
                        {
                             @await Component.InvokeAsync("Get_Quydinh")
                        }
                        else
                        {
                             @await Component.InvokeAsync("Get_Quydinh", new {id = @Context.Session.GetInt32("id_edit_dccht_after")})
                        }
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="decuonghinhthuc">
                        @await Component.InvokeAsync("Create_Hinhthuc")
                       
                        @if (@Context.Session.GetInt32("id_edit_dccht_after") == null)
                        {
                             @await Component.InvokeAsync("Get_Hinhthuc")
                        }
                        else
                        {
                             @await Component.InvokeAsync("Get_Hinhthuc", new {id = @Context.Session.GetInt32("id_edit_dccht_after")})
                        }
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="chitietmonhoc">
                        
                        @if (@Context.Session.GetInt32("id_edit_dccht_after") == null)
                        {
                             @await Component.InvokeAsync("Get_Chitietmonhoc")
                        }
                        else
                        {
                             @await Component.InvokeAsync("Get_Chitietmonhoc", new {id = @Context.Session.GetInt32("id_edit_dccht_after")})
                        }
                       
                        @if(@Context.Session.GetInt32("id_edit_chtmh") == null)
                        {
                            @await Component.InvokeAsync("Create_Chitietmonhoc")
                        }
                        else
                        {
                            @await Component.InvokeAsync("Create_Chitietmonhoc", new {id = @Context.Session.GetInt32("id_edit_dccht")})
                        }
                       
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="chitietchuong">

                        @await Component.InvokeAsync("Get_Chitietchuong")

                        @if(@Context.Session.GetInt32("id_edit_Chitietchuong") == null)
                        {
                            @await Component.InvokeAsync("Edit_Chitietchuong", new {id =0})
                        }
                        else
                        {
                             @await Component.InvokeAsync("Edit_Chitietchuong", new {id = @Context.Session.GetInt32("id_edit_dccht")})
                        }
                       
                        
                            

                    </div>
                    
                    <div role="tabpanel" class="tab-pane fade" id="phutrach">
                        @* @if(@Context.Session.GetInt32("idPhutrach") == null)
                        {
                            @await Component.InvokeAsync("Create_Phutrach")
                        }
                        else
                        {
                            @await Component.InvokeAsync("Create_Phutrach", new {id = @Context.Session.GetInt32("idPhutrach")})
                        } *@
                        @if (@Context.Session.GetInt32("id_edit_dccht_after") == null)
                        {
                            @await Component.InvokeAsync("Get_Phutrach")
                        }
                        else
                        {
                            @await Component.InvokeAsync("Get_Phutrach", new {id = @Context.Session.GetInt32("id_edit_dccht_after")})
                        }
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="thoigianhoc">
                        @* @if(@Context.Session.GetInt32("idThoigianhoc") == null)
                        {
                            @await Component.InvokeAsync("Create_Thoigianhoc")
                        }
                        else
                        {
                            @await Component.InvokeAsync("Create_Thoigianhoc", new {id = @Context.Session.GetInt32("idThoigianhoc")})
                        } *@
                        @if (@Context.Session.GetInt32("id_edit_dccht_after") == null)
                        {
                            @await Component.InvokeAsync("Get_Thoigianhoc")
                        }
                        else
                        {
                            @await Component.InvokeAsync("Get_Thoigianhoc", new {id = @Context.Session.GetInt32("id_edit_dccht_after")})
                        }
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="chuandauramonhoc">
                        @* @await Html.PartialAsync("_Partial_chuandauramonhoc") *@
                    </div>
                    
                    <div role="tabpanel" class="tab-pane fade" id="decuongtailieu">
                        @* @await Component.InvokeAsync("Create_Tailieu")
                        @await Component.InvokeAsync("Create_DcTailieu") *@
                      
                        @if (@Context.Session.GetInt32("id_edit_dccht") == null)
                        {
                            @await Component.InvokeAsync("Get_Tailieu")
                        }
                        else
                        {
                           @await Component.InvokeAsync("Get_Tailieu", new {id = @Context.Session.GetInt32("id_edit_dccht")})
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
