@model IEnumerable<_CurriculumManagerSystem.Models.DeCuongchiTiet>

@{
    ViewData["Title"] = "Đề cương chi tiết";
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h3 class="titile-table">BẢNG TÓM TẮT NỘI DUNG CHƯƠNG TRÌNH ĐÀO TẠO
                </h3>
            </div>
            <div class="body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>
                                    @Html.DisplayNameFor(model => model.mahp_decuong)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.tenhp_tviet)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.tomtat_noidunghocphan)
                                </th>
                                <th>
                                    Khối lượng kiến thức
                                </th>
                                <th>
                                    Ghi chú
                                </th>

                            </tr>
                        </thead>
                        @{
                            int stt = 0;
                            int tong_tc = 0;
                            int tong_sotiet_lt = 0;
                            int tong_sotiet_th = 0;
                        }
                        @foreach (var dulieu_kkt in ((List<DeCuongchiTiet>)TempData["listData"]).GroupBy(x => x.Khoikienthuc.kkt_ten))
                        {
                            <th colspan="5" style="background-color: #84c7c1; color: black;"><b>@dulieu_kkt.Key</b></th>

                            <tbody>
                                @foreach (var dulieu_decuong in ((List<DeCuongchiTiet>)TempData["listData"]).Where(x => x.Khoikienthuc.kkt_ten == dulieu_kkt.Key))
                                {
                                    stt = stt + 1;
                                    tong_tc = dulieu_decuong.sotc_lt + dulieu_decuong.sotc_th;
                                    tong_sotiet_lt = dulieu_decuong.sotc_lt * 15;
                                    tong_sotiet_th = dulieu_decuong.sotc_th * 30;
                                    <tr>
                                        <td>
                                            @stt
                                        </td>
                                        <td>
                                            @* @Html.DisplayFor(modeldulieu_decuong => dulieu_decuong.mahp_decuong) *@
                                            @dulieu_decuong.mahp_decuong
                                        </td>
                                        <td>
                                            @* @Html.DisplayFor(modeldulieu_decuong => dulieu_decuong.tenhp_tviet) *@
                                            @dulieu_decuong.tenhp_tviet
                                        </td>
                                        <td>
                                            @* @Html.DisplayFor(modeldulieu_decuong => dulieu_decuong.tomtat_noidunghocphan) *@
                                            @dulieu_decuong.tomtat_noidunghocphan
                                        </td>
                                        <td>
                                            @tong_tc TC (@tong_sotiet_lt LT, @tong_sotiet_th TH)
                                        </td>
                                        <td>
                                            
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>