@model IEnumerable<_CurriculumManagerSystem.Models.DeCuongchiTiet>

@{
    ViewData["Title"] = "Index";
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h3 class="titile-table">ĐỀ CƯƠNG CHI TIẾT | <a class="near-titile-table" asp-action="create">Thêm</a>
                </h3>
            </div>
            <div class="body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover js-basic-example dataTable"> 
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.mahp_decuong)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.tenhp_tviet)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.tenhp_tanh)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.sotc_lt)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.sotc_th)
                                </th>
                                 <th>
                                    @Html.DisplayNameFor(model => model.hp_tienquyet)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.yeucaukhacvoi_hocphan)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Khoikienthuc.kkt_ten)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.mahp_decuong)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tenhp_tviet)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tenhp_tanh)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.sotc_lt)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.sotc_th)
                                    </td>
                                       <td>
                                        @Html.DisplayFor(modelItem => item.hp_tienquyet)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.yeucaukhacvoi_hocphan)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Khoikienthuc.kkt_ten)
                                    </td>
                                    <td>
                                        <a class="material-icons" aso-controller="Decuongchitiets" asp-action="CLO_PLO" asp-route-id="@item.mahp">assignment</a>
                                        <a class="material-icons" aso-controller="Decuongchitiets" asp-action="Edit" asp-route-id="@item.mahp">mode_edit</a>
                                        <a class="material-icons" asp-action="Delete" asp-route-id="@item.mahp">delete_forever</a>
                                        <a class="material-icons" asp-controller="ExtractPDFs" asp-action="Extract" asp-route-id="@item.mahp">PDF</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@* 
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.tenhp_tviet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tenhp_tanh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sotc_lt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sotc_th)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.yeucaukhacvoi_hocphan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tomtat_noidunghocphan)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.tenhp_tviet)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tenhp_tanh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sotc_lt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sotc_th)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.yeucaukhacvoi_hocphan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tomtat_noidunghocphan)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.mahp">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.mahp">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.mahp">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table> *@
