@model IEnumerable<_CurriculumManagerSystem.Models.Chitietmonhoc>
@{
    var i = 0 ;
}
    <div class="body table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        STT
                    </th>
                    <th>
                        Tên chương
                    </th>
                    <th>
                       Chỉ số
                    </th>
                    <th>
                       Số tiết lý thuyết
                    </th>
                    <th>
                        Số tiết thực hành
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                     i++;
                    <tr>
                        <td>
                            @i
                        </td>
                        <td>
                            @item.tenchuong
                        </td>
                        <td>
                            @item.chiso
                        </td>
                        <td>
                            @item.tietlt
                        </td>
                        <td>
                            @item.tietth
                        </td>
                     <td>
                        @if (ViewData["Title"] == "Create")
                        {
                            <a class="material-icons" asp-controller="DeCuongchiTiets" asp-action="Create"
                        asp-route-machitietmonhoc="@item.mact">mode_edit</a>
                         <a class="material-icons" data-type="confirm" asp-controller="DeCuongchiTiets"
                        asp-action="DeleteChitietmonhoc" asp-route-id="@item.mact" onclick="return confirm('Bạn chắc chứ?')">delete_forever</a>
                        }
                        else
                        {
                            <a class="material-icons" asp-controller="DeCuongchiTiets" asp-action="Edit"
                        asp-route-machitietmonhoc="@item.mact">mode_edit</a>
                         <a class="material-icons" data-type="confirm" asp-controller="DeCuongchiTiets"
                        asp-action="DeleteChitietmonhocEdit" asp-route-id="@item.mact" onclick="return confirm('Bạn chắc chứ?')">delete_forever</a>
                        }
                       
                    </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>