@model _CurriculumManagerSystem.Models.GiangVien

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GiangVien</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hoten)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hoten)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.chucdanh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.chucdanh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hocham)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hocham)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hocvi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hocvi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.diachilienhe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.diachilienhe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bomon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bomon.mabm)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.magv">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
