@model _CurriculumManagerSystem.Models.Khoahoc

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Khoahoc</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tenkh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tenkh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nienkhoa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nienkhoa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.makh">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
