@model IEnumerable<_CurriculumManagerSystem.Models.CLPO>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ngayupdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chuandaura_monhoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PLO)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ngayupdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Chuandaura_monhoc.macdmon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PLO.maplo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.maclpo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.maclpo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.maclpo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
