@model IEnumerable<_CurriculumManagerSystem.Models.Chitiet_Chuong>

<h2>6. Nội dung chi tiết học phần</h2>
<table cellspacing="0" cellpadding="5" style="text-align:center;border-style: solid;">
    <thead style="text-align:center;">
        <tr>
            <th rowspan="2" style="text-align:center;">
                Nội dung
            </th>
            <th colspan="2" style="text-align:center;">
                Số Tiết
            </th>
        </tr>
        <tr>
            <th>
                Lý thuyết
            </th>
            <th>
                Thực Hành
            </th>
        </tr>
    </thead>
    @{
        string temp = "";
        int temp_stlt = 0;
        int temp_stth = 0;
    }
    <tbody>
        @* Plos hang o tren *@
        @*hangbentrai*@
        @foreach (var item in Model.GroupBy(x => x.Chitietmonhoc.tenchuong))
        {
            @foreach (var item2 in item)
            {
                int numofitem = item.Count();
                    @if (item.Key != temp)
                    {
                        temp = item.Key;
                        <tr>
                            <td style="text-align: left;">Chương @item2.Chitietmonhoc.chiso. @temp</td>
                            @if((item2.Chitietmonhoc.tietlt != temp_stlt && item2.Chitietmonhoc.tietth == temp_stth)
                                || (item2.Chitietmonhoc.tietlt == temp_stlt && item2.Chitietmonhoc.tietth != temp_stth)
                            )
                            {
                                temp_stlt = item2.Chitietmonhoc.tietlt;
                                temp_stth = item2.Chitietmonhoc.tietth;
                                <td>@temp_stlt</td>
                                <td>@temp_stth</td> 
                            }
                            else
                            {
                                <td>@temp_stlt</td>
                                <td>@temp_stth</td>
                            }
                        </tr>
                        
                    }
                <tr rowspan="@numofitem">
                    <td style="margin-left: 10px;">@item2.Chitietmonhoc.chiso.@item2.chiso @item2.tentieumuc</td>
                    <td></td>
                    <td></td>
                </tr>
            }
        }
    </tbody>
</table>