@model IEnumerable<_CurriculumManagerSystem.Models.Chitietmonhoc>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.chiso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tenchuong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tietlt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tietth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mahp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.chiso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tenchuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tietlt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tietth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mahp)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.mact">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.mact">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.mact">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
