@model IEnumerable<_CurriculumManagerSystem.Models.Thoigianhoc>
@{
    var i = 0 ;
}
    <div class="body table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        STT
                    </th>
                   <th>
                      Yêu cầu học phần 
                   </th>
                   <th>
                       Khóa học 
                   </th>
                   <th>
                       Niên khóa
                   </th>
                   <th>
                       Học kì
                   </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                     i++;
                    <tr>
                        <td>
                            @i
                        </td>
                        <td>
                            @item.yeucauhocphan
                        </td>
                        <td>
                            @item.Khoahocs.tenkh
                        </td>
                        <td>
                            @item.Khoahocs.nienkhoa
                        </td>
                        <td>
                            @item.Hockys.tenhk
                        </td>
                     
                            <td>
                     @if (ViewData["Title"] == "Create")
                        {
                            <a class="material-icons" asp-controller="DeCuongchiTiets" asp-action="Create"
                        asp-route-mathoigianhoc="@item.matg">mode_edit</a>
                        <a class="material-icons" data-type="confirm" asp-controller="DeCuongchiTiets"
                        asp-action="DeleteThoigianhoc" asp-route-id="@item.matg" onclick="return confirm('Bạn chắc chứ?')">delete_forever</a>
                        }
                        else
                        {
                            <a class="material-icons" asp-controller="DeCuongchiTiets" asp-action="Edit"
                        asp-route-mathoigianhoc="@item.matg">mode_edit</a>
                        <a class="material-icons" data-type="confirm" asp-controller="DeCuongchiTiets"
                        asp-action="DeleteThoigianhocEdit" asp-route-id="@item.matg" onclick="return confirm('Bạn chắc chứ?')">delete_forever</a>
                        }
                        
                    </td>
       
                    </tr>
                }
            </tbody>
        </table>
    </div>