@model IEnumerable<_CurriculumManagerSystem.Models.Thoigianhoc>
@{
    var i = 0 ;
}
    <div class="body table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        STT
                    </th>
                   <th>
                      Yêu cầu học phần 
                   </th>
                   <th>
                       Khóa học 
                   </th>
                   <th>
                       Niên khóa
                   </th>
                   <th>
                       Học kì
                   </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                     i++;
                    <tr>
                        <td>
                            @i
                        </td>
                        <td>
                            @item.yeucauhocphan
                        </td>
                        <td>
                            @item.Khoahocs.tenkh
                        </td>
                        <td>
                            @item.Khoahocs.nienkhoa
                        </td>
                        <td>
                            @item.Hockys.tenhk
                        </td>
                     
                            <td>
                            <a class="material-icons" asp-controller="DeCuongchiTiets" asp-action="Create" asp-route-id="@item.matg">mode_edit</a>
                            <a class="material-icons" style="cursor: pointer;" data-toggle="modal"
                            data-target="#exampleModalCenter">delete_forever</a>
                            <form>
                                <div class="modal fade" id="exampleModalCenter">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Xác nhận xóa</h5>
                                                <button type="button" class="close"
                                                    data-dismiss="modal"><span>&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Bạn có chắc muốn xóa không ?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-secondary"
                                                    data-dismiss="modal">Đóng</button>
                                                @* <input type="submit" value="Xóa" class="btn btn-primary" /> *@
                                                <button type="submit" class="btn btn-primary waves-effect" asp-controller="DeCuongchiTiets" asp-action="DeleteThoigianhoc" asp-route-id="@item.matg">Xóa</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </td>
       
                    </tr>
                }
            </tbody>
        </table>
    </div>