@model _CurriculumManagerSystem.Models.Phutrach

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Phutrach</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vaitro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vaitro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeCuongchiTiet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeCuongchiTiet.mahp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiangVien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiangVien.magv)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.mapt">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
