@model IEnumerable<_CurriculumManagerSystem.Models.Decuong_Chuongtrinh>
<h2>10. Hướng dẫn thực hiện chương trình</h2>
<table cellspacing="0" cellpadding="5" style="text-align:left;border-style: solid;">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>
                                   Mã học phần
                                </th>
                                <th>
                                    Tên môn học
                                </th>
                                <th>
                                    Số tín chỉ
                                </th>
                                <th>
                                    Bắt buộc
                                </th>
                                <th>
                                    Tự chọn
                                </th>
                                <th>
                                    Số tiết LT
                                </th>
                                <th>
                                    Số tiết TH
                                </th>
                                <th>
                                    Môn học tiên quyết / học trước
                                </th>
                            </tr>
                        </thead>
                        @{
                            int stt = 0;
                            int tong_tc = 0;
                            int tong_sotiet_lt = 0;
                            int tong_sotiet_th = 0;
                            int tongcong_tc = 0;
                            int tongcong_bb = 0;
                            int tongcong_tuchon = 0;
                            string tuchon = "";
                            string luanvan = "Luận văn tốt nghiệp";
							List<int> list_check = new List<int>();
                        }
                        @foreach (var dulieu_kkt in ((List<Decuong_Chuongtrinh>)TempData["listData"]).GroupBy(x =>
                        x.DeCuongchiTiet.Khoikienthuc.kkt_ten))
                        {
							tuchon = "";
                            <th colspan="9" style="color: black;"><b>@dulieu_kkt.Key</b></th>

                            <tbody>
                            @foreach (var dulieu_decuong in ((List<Decuong_Chuongtrinh>)TempData["listData"]).Where(x =>
                               x.DeCuongchiTiet.Khoikienthuc.kkt_ten == dulieu_kkt.Key && x.DeCuongchiTiet.yeucau_hocphan == "Bắt buộc"))
                                {
                                    stt = stt + 1;
                                    tong_sotiet_lt = dulieu_decuong.DeCuongchiTiet.sotc_lt * 15;
                                    tong_sotiet_th = dulieu_decuong.DeCuongchiTiet.sotc_th * 30;
                					 tong_tc = dulieu_decuong.DeCuongchiTiet.sotc_lt + dulieu_decuong.DeCuongchiTiet.sotc_th;
                                    
                                            if(dulieu_decuong.DeCuongchiTiet.yeucaukhacvoi_hocphan != "*")
												{
													tongcong_tc += tong_tc;
													tongcong_bb += tong_tc;
												}
												<tr> 
													<td>
														@stt
													</td>
													<td>
														@dulieu_decuong.DeCuongchiTiet.mahp_decuong
													</td>
													<td>
														@dulieu_decuong.DeCuongchiTiet.tenhp_tviet
													</td>
													<td>
														@tong_tc
													</td>
													<td>
														@tong_tc
													</td>
													<td></td>	
													<td>
														@tong_sotiet_lt
													</td>
													<td>
														@tong_sotiet_th
													</td>
													
													@if(@dulieu_decuong.DeCuongchiTiet.hp_tienquyet == "Không")
													{
														<td>
														
														</td>
													}
													else
													{
														<td>
															@dulieu_decuong.DeCuongchiTiet.hp_tienquyet
														</td>
													}
													
												</tr>
											
											}

										@foreach (var dulieu_decuong in ((List<Decuong_Chuongtrinh>)TempData["listData"]).Where(x => x.DeCuongchiTiet.Khoikienthuc.kkt_ten == dulieu_kkt.Key && x.DeCuongchiTiet.yeucau_hocphan == "Tự chọn"))
										{
											stt = stt + 1;
											tong_sotiet_lt = dulieu_decuong.DeCuongchiTiet.sotc_lt * 15;
											tong_sotiet_th = dulieu_decuong.DeCuongchiTiet.sotc_th * 30;
											tong_tc = dulieu_decuong.DeCuongchiTiet.sotc_lt + dulieu_decuong.DeCuongchiTiet.sotc_th;
											if (dulieu_decuong.DeCuongchiTiet.yeucau_hocphan != tuchon)
											{
												tuchon = dulieu_decuong.DeCuongchiTiet.yeucau_hocphan;
												<tr>
												<td colspan="6">
													<b>Học phần tự chọn</b>
												</td>
												@foreach (var dulieu_thoigianhoc in @ViewBag.listtgh)
												{
													if(dulieu_thoigianhoc.mahp == dulieu_decuong.DeCuongchiTiet.mahp && !list_check.Contains(dulieu_thoigianhoc.mahk))
													{
														int tranfer = int.Parse(dulieu_thoigianhoc.yeucauhocphan);
														tongcong_tuchon += tranfer;
														list_check.Add(dulieu_thoigianhoc.mahk);
													}
												
												}
												</tr>
												tongcong_tc += tong_tc;
												//tongcong_tuchon += tong_tc;
												<tr> 
													<td>
														@stt
													</td>
													<td>
														@dulieu_decuong.DeCuongchiTiet.mahp_decuong
													</td>
													<td>
														@dulieu_decuong.DeCuongchiTiet.tenhp_tviet
													</td>
													<td>
														@tong_tc
													</td>
													<td>
														
													</td>
													<td>
														@tong_tc
													</td>
													<td>
														@tong_sotiet_lt
													</td>
													<td>
														@tong_sotiet_th
													</td>
													
													@if(@dulieu_decuong.DeCuongchiTiet.hp_tienquyet == "Không")
													{
														<td>
														
														</td>
													}
													else
													{
														<td>
															@dulieu_decuong.DeCuongchiTiet.hp_tienquyet
														</td>
													}
												</tr>
											}
											else
											{
												tongcong_tc += tong_tc;
												@foreach (var dulieu_thoigianhoc in @ViewBag.listtgh)
												{
													if(dulieu_thoigianhoc.mahp == dulieu_decuong.DeCuongchiTiet.mahp && !list_check.Contains(dulieu_thoigianhoc.mahk))
													{
														int tranfer = int.Parse(dulieu_thoigianhoc.yeucauhocphan);
														tongcong_tuchon += tranfer;
														list_check.Add(dulieu_thoigianhoc.mahk);
													}
											
												}
												@* tongcong_tuchon += tong_tc; *@
												<tr> 
													<td>
														@stt
													</td>
													<td>
														@dulieu_decuong.DeCuongchiTiet.mahp_decuong
													</td>
													<td>
														@dulieu_decuong.DeCuongchiTiet.tenhp_tviet
													</td>
													<td>
														@tong_tc
													</td>
													<td>
														
													</td>
													<td>
														@tong_tc
													</td>
													
													

													<td>
														@tong_sotiet_lt
													</td>
													<td>
														@tong_sotiet_th
													</td>
													@* ket thuc *@
													@if(@dulieu_decuong.DeCuongchiTiet.hp_tienquyet == "Không")
													{
														<td>
														
														</td>
													}
													else
													{
														<td>
															@dulieu_decuong.DeCuongchiTiet.hp_tienquyet
														</td>
													}
													
												</tr>
                                            
											}	
                                }

                            </tbody>
							tongcong_tc = tongcong_bb + tongcong_tuchon;
                        }
                        <tr>
                            <td></td>
                            <td></td>
                            <td><b>Tổng cộng</b></td>
                            <td><b>@tongcong_tc</b></td>
                            <td><b>@tongcong_bb</b></td>
                            <td><b>@tongcong_tuchon</b></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>