@model IEnumerable<_CurriculumManagerSystem.Models.CLPO>
@{
    int total = 0;
}
<h2>4. Ma trận liên kết giữa nội dung CĐR học phần với CĐR CTĐT</h2>
<table cellspacing="0" cellpadding="5" style="text-align:center;border-style: solid;">
    <thead style="text-align:center;">
        <tr>
            <th rowspan="2" style="text-align:center;">
                CLOs
            </th>
            <th colspan="10" style="text-align:center;">
                PLOs
            </th>
        </tr>

    </thead>
    <tbody>
        @* Plos hang o tren *@
        <tr>
            <td>
                @foreach (var itemPLO in ViewBag.listPlo)
                {
                <td>@itemPLO.chisoplo</td>
                }
            </td>
        </tr>
        @*hangbentrai*@
        @{
            List<int> plolist = new List<int>();
            foreach (var item in ViewBag.listPlo)
            {
                plolist.Add(0);
            }

        }
        @foreach (var item in Model)
        {
            int i = 0;
            <tr>
                <td>CLO @Html.DisplayFor(modelItem => item.Chuandaura_monhoc.chisocio)</td>
                @foreach (var itemPLOs in ViewBag.listPlo)
                {
                    @if (@item.macdmon == @item.Chuandaura_monhoc.macdmon && @item.maplo == @itemPLOs.maplo)
                    {
                        if(plolist[i] == 0)
                        {
                            plolist[i] = 1 ;
                        }
                        <td id="@itemPLOs.maplo">
                            X
                        </td>
                    }
                    else
                    {
                        <td> </td>
               
                    }
                i++;
                }
            </tr>
        }
        <tr>
            <td>Tổng hợp học phần</td>
            @foreach (var item in plolist)
            {
                if(item == 1)
                {
                    <td>X</td>
                }
                else
                {
                    <td></td>
                }
                
            }
        </tr>
    </tbody>
</table>
@* <script>
    document.getElementById("id").innerHTML = "X";
</script> *@



@*@model IEnumerable<_CurriculumManagerSystem.Models.CLPO>
    <h2>4. Ma trận liên kết giữa nội dung CĐR học phần với CĐR CTĐT</h2>
    <table cellspacing="0" cellpadding="5"
    style="text-align:center;border-style: solid;">
    <thead style="text-align:center;">
    <tr>
    <th rowspan="2" style="text-align:center;">
    CLOs
    </th>
    <th colspan="10" style="text-align:center;">
    PLOs
    </th>
    </tr>

    </thead>
    <tbody>
    <tr>
    <td>
    @foreach (var itemPLO in ViewBag.listPlo)
    {
    <td>@itemPLO.chisoplo</td>
    }
    </td>
    </tr>
    @*hangbentrai*
    @foreach (var item in Model)
    {
    <tr>
    <td>CLO @Html.DisplayFor(modelItem => item.Chuandaura_monhoc.chisocio)</td>
    @foreach (var items in Model)
    {
    @* @if (@items.macdmon == @item.Chuandaura_monhoc.macdmon && @items.maclpo == @item.maplo)
    {
    <td>
    X
    </td>
    }
    @if (@items.macdmon == @item.Chuandaura_monhoc.macdmon && @items.maplo == @item.PLO.maplo)
    {
    <td>
    X
    </td>
    }
    else
    {
    <td> </td>
    }
    }
    </tr>
    }
    </tbody>
    </table>*@