@model _CurriculumManagerSystem.Models.Hinhthuc_Danhgia

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Hinhthuc_Danhgia</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.thanhphan_danhgia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.thanhphan_danhgia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hinhthuc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hinhthuc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.trongso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.trongso)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.mahtdg">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
