@model IEnumerable<_CurriculumManagerSystem.Models.Hinhthuc_Danhgia>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.thanhphan_danhgia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hinhthuc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.trongso)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.thanhphan_danhgia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hinhthuc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.trongso)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.mahtdg">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.mahtdg">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.mahtdg">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
