@model IEnumerable<_CurriculumManagerSystem.Models.Chuongtrinh_Daotao>

@{
    ViewData["Title"] = "Index";
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h3 class="titile-table">CHƯƠNG TRÌNH ĐÀO TẠO | <a class="near-titile-table" asp-action="create">Thêm</a></h3>
            </div>
            <div class="body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nganh_daotao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.trinhdo_daotao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.loaihinh_daotao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.thoigian_daotao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tenvanbang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.noidaotao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nganh_daotao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.trinhdo_daotao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.loaihinh_daotao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.thoigian_daotao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tenvanbang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.noidaotao)
            </td>
            <td>
                <a class="material-icons" asp-action="Edit" asp-route-id="@item.ma_ctdt">mode_edit</a> 
                <a class="material-icons" asp-action="Delete" asp-route-id="@item.ma_ctdt">delete_forever</a>
                <a class="material-icons" asp-controller="ExtractPDF_CTDT" asp-action="Extract_ctdt" asp-route-id="@item.ma_ctdt" asp-route-ten="@item.nganh_daotao">print</a>
            </td>
        </tr>
}
    </tbody>
</table>
