@model IEnumerable<_CurriculumManagerSystem.Models.Muctieu>
@{
    var i = 0;
}
<div class="body table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    STT
                </th>
                <th>
                    @* @Html.DisplayNameFor(model => model.noidung) *@
                    Nội dung mục tiêu
                </th>
                <th>
                    @* @Html.DisplayNameFor(model => model.mtchinh) *@
                    Mục tiêu chính
                </th>
                <th>
                    @* @Html.DisplayNameFor(model => model.mtphu) *@
                    Mục tiêu phụ
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                i++;
                <tr>
                    <td>
                        @i
                    </td>
                    <td>
                        @item.noidung
                        @* @Html.DisplayFor(modelItem => item.noidung) *@
                    </td>
                    <td>
                        @item.mtchinh
                        @* @Html.DisplayFor(modelItem => item.mtchinh) *@
                    </td>
                    <td>
                        @item.mtphu
                        @* @Html.DisplayFor(modelItem => item.mtphu) *@
                    </td>
                    <td>
                        @if (ViewData["Title"] == "Create")
                        {
                            <a class="material-icons" asp-controller="DeCuongchiTiets" asp-action="Create"
                        asp-route-id="@item.mamt">mode_edit</a>
                        }
                        else
                        {
                            <a class="material-icons" asp-controller="DeCuongchiTiets" asp-action="Edit"
                        asp-route-id="@item.mamt">mode_edit</a>
                        }
                        <a class="material-icons" data-type="confirm" asp-controller="DeCuongchiTiets"
                        asp-action="DeleteMucTieu" asp-route-id="@item.mamt" onclick="return confirm('Bạn chắc chứ?')">delete_forever</a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>