@model IEnumerable<_CurriculumManagerSystem.Models.CLOPhuongphaphoc>

@{
    ViewData["Title"] = "Index";
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h3 class="titile-table">CLO PHƯƠNG PHÁP HỌC | <a class="near-titile-table" asp-action="create">Thêm</a>
                </h3>
            </div>
            <div class="body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.mucdo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Phuongphap_hoc)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Chuandaura_monhoc)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.mucdo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Phuongphap_hoc.mapphoc)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Chuandaura_monhoc.macdmon)
                                    </td>
                                    <td>
                                        <a class="material-icons" asp-action="Edit"
                                        asp-route-id="@item.maclopphoc">mode_edit</a>
                                        <a class="material-icons" asp-action="Delete"
                                        asp-route-id="@item.maclopphoc">delete_forever</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@* <h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.mucdo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phuongphap_hoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chuandaura_monhoc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.mucdo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phuongphap_hoc.mapphoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Chuandaura_monhoc.macdmon)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.maclopphoc">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.maclopphoc">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.maclopphoc">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table> *@
