@model IEnumerable<_CurriculumManagerSystem.Models.DeCuongchiTiet>
@foreach (var item in Model)
{
    <h2>1. Thông tin chung về học phần</h2>
    <p>Tên học phần bằng tiếng Việt: @item.tenhp_tviet <br></p>
    <p>Tên học phần bằng tiếng Anh: @item.tenhp_tanh<br></p>
    <p>Mã học phần: @item.mahp_decuong<br></p>
    <p>Loại học phần: @item.Khoikienthuc.kkt_ten<br></p>
    <p>Số tín chỉ: 03 tín chỉ (30 tiết lý thuyết, 30 tiết thực hành)<br></p>
    <p>Số tiết học: 60 tiết<br></p>
    <p>Yêu cầu của học phần: bắt buộc<br></p>
    <p>Học phần học trước: @item.hp_tienquyet<br></p>
}
@foreach (var items in ViewBag.listtgh)
{
    <p>Thời gian học: @items.Hockys.tenhk<br></p>
}
@foreach (var item in Model)
{
    <p>Các yêu cầu khác đối với học phần: @item.yeucaukhacvoi_hocphan<br></p>
}
<p>Đơn vị phụ trách: 
@foreach(var item in ViewBag.listkhoa)
        {
            @item.Bomon.Khoa.tenkh
            break;
        }
</p>
@foreach (var item in ViewBag.listpt)
{

    <p>Người phụ trách: @item.GiangVien.hoten<br></p>
    <p>Chức danh/Học hàm/Học vị: @item.GiangVien.chucdanh/ @item.GiangVien.hocham @item.GiangVien.hocvi<br></p>
    <p>Địa chỉ liên hệ: @item.GiangVien.diachilienhe<br></p>
    <p>Điện thoại: &emsp; Email: @item.GiangVien.diachilienhe<br></p>

}

<p>Các giảng viên tham gia giảng dạy cùng:
    @foreach (var gvp in ViewBag.listptc)
    {
        @gvp.GiangVien.hoten
    }</p>
