@model IEnumerable<_CurriculumManagerSystem.Models.Thoigianhoc>

@{
    ViewData["Title"] = "Index";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Thời gian học</a>
                        <hr />
                        <div role="toolbar" class="toolbar">
                            <div class="btn-group">
                                <a asp-action="Create" class="btn btn-primary btn-block">Tạo mới</a>
                            </div>
                        </div>
                </div>


                <div class="table-responsive">
                    <table class="table table-striped table-bordered zero-configuration">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.yeucauhocphan)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.mahp)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.makh)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.mahk)
                                </th>
                                <th></th>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.yeucauhocphan)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.mahp)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.makh)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.mahk)
                                    </td>
                                    <td>
                                        @* <a href="#" class="list-group-item border-0 p-r-0"><i class="fa fa-trash font-18
                                            align-middle mr-2"></i>Trash</a> *@
                                        <a asp-action="Edit" asp-route-id="@item.matg">Sửa</a> |
                                        <a asp-action="Details" asp-route-id="@item.matg">Chi tiết</a> |
                                        <a asp-action="Delete" asp-route-id="@item.matg">Xóa</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
