@model _CurriculumManagerSystem.Models.Decuong_Quytrinh

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Decuong_Quytrinh</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Chuongtrinh_Daotao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Chuongtrinh_Daotao.ma_ctdt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quytrinhdaotao_Dieukientotnghiep)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quytrinhdaotao_Dieukientotnghiep.ma_qt_dktn)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.dcht_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
