@model IEnumerable<_CurriculumManagerSystem.Models.Decuong_Quytrinh>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Chuongtrinh_Daotao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quytrinhdaotao_Dieukientotnghiep)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Chuongtrinh_Daotao.ma_ctdt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quytrinhdaotao_Dieukientotnghiep.ma_qt_dktn)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.dcht_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.dcht_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.dcht_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
