@model IEnumerable<_CurriculumManagerSystem.Models.DecuongTailieu>
@{
    var i = 0;
}
<div class="body"> 
    <div class="body table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        Tên tài liệu
                    </th>
                    <th>
                        Loại tài liệu
                    </th>
                    <th>
                        Tác giả
                    </th>
                    <th>
                        Thông tin khác
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                     i++;
                    <tr>
                        <td>
                            @i
                        </td>
                        <td>
                            @item.Tailieu.tentailieu
                            @* @Html.DisplayFor(modelItem => item.DeCuongchiTiet.tenhp_tviet) *@
                        </td>
                        <td>
                            @item.Tailieu.loaitl
                            @* @Html.DisplayFor(modelItem => item.noidung) *@
                        </td>
                        <td>
                            @item.Tailieu.tacgia
                            @* @Html.DisplayFor(modelItem => item.mtchinh) *@
                        </td>
                        <td>
                            @item.Tailieu.thongtinkhac
                            @* @Html.DisplayFor(modelItem => item.mtphu) *@
                        </td>
                     
                            <td>
                             @if (ViewData["Title"] == "Create")
                        {
                            <a class="material-icons" asp-controller="DeCuongchiTiets" asp-action="Create"
                        asp-route-id="@item.matl">mode_edit</a>
                        }
                        else
                        {
                            <a class="material-icons" asp-controller="DeCuongchiTiets" asp-action="Edit"
                        asp-route-id="@item.matl">mode_edit</a>
                        }
                        <a class="material-icons" data-type="confirm" asp-controller="DeCuongchiTiets"
                        asp-action="DeleteTailieu" asp-route-id="@item.matl" onclick="return confirm('Bạn chắc chứ?')">delete_forever</a>
                    </td>
                      
       
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>