@model IEnumerable<_CurriculumManagerSystem.Models.Khoa>

@{
    ViewData["Title"] = "Index";
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h3 class="titile-table">KHOA | <a class="near-titile-table" asp-action="create">Thêm</a>
                </h3>
            </div>
            <div class="body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.tenkh)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.mabm)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Bomon.GiangVien.hoten)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tenkh)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Bomon.tenbm)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Bomon.GiangVien.hoten)
                                    </td>
                                    <td>
                                        <a class="material-icons" asp-action="Edit" asp-route-id="@item.makh">mode_edit</a>
                                        <a class="material-icons" asp-action="Delete"
                                        asp-route-id="@item.makh">delete_forever</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
