@model IEnumerable<_CurriculumManagerSystem.Models.Phutrach>
@{
    var i = 0 ;
}
    <div class="body table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        STT
                    </th>
                   <th>
                       Tên giảng viên
                   </th>
                   <th>
                       Vai trò
                   </th>
                   <th>
                       Chức danh
                   </th>
                   <th>
                       Học hàm
                   </th>
                   <th>
                       Học vị
                   </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                     i++;
                    <tr>
                        <td>
                            @i
                        </td>
                        <td>
                            @item.GiangVien.hoten
                        </td>
                        <td>
                            @item.vaitro
                        </td>
                        <td>
                            @item.GiangVien.chucdanh
                        </td>
                        <td>
                            @item.GiangVien.hocham
                        </td>
                        <td>
                            @item.GiangVien.hocvi
                        </td>
                        <td>
                        @if (ViewData["Title"] == "Create")
                        {
                            <a class="material-icons" asp-controller="DeCuongchiTiets" asp-action="Create"
                        asp-route-maphutrach="@item.mapt">mode_edit</a>
                          <a class="material-icons" data-type="confirm" asp-controller="DeCuongchiTiets"
                        asp-action="DeletePhutrach" asp-route-id="@item.mapt" onclick="return confirm('Bạn chắc chứ?')">delete_forever</a>
                        }
                        else
                        {
                            <a class="material-icons" asp-controller="DeCuongchiTiets" asp-action="Edit"
                        asp-route-maphutrach="@item.mapt">mode_edit</a>
                        <a class="material-icons" data-type="confirm" asp-controller="DeCuongchiTiets"
                        asp-action="DeletePhutrach_Edit" asp-route-id="@item.mapt" onclick="return confirm('Bạn chắc chứ?')">delete_forever</a>
                        }
                    </td>
       
                    </tr>
                }
            </tbody>
        </table>
    </div>