@model IEnumerable<_CurriculumManagerSystem.Models.Chitiet_Chuong>
@{
    var i = 0 ;
}
    <div class="body table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        STT
                    </th>
                    <th>
                        Chi tiết môn học
                    </th>
                    <th>
                       Tên tiểu mục 
                    </th>
                    <th>
                       Chỉ số
                    </th>
                    <th>
                        Tuần học
                    </th>
                    <th>
                        Thời lượng học
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                     i++;
                    <tr>
                        <td>
                            @i
                        </td>
                        <td>
                            @item.Chitietmonhoc.tenchuong
                        </td>
                        <td>
                            @item.tentieumuc
                        </td>
                        <td>
                            @item.chiso
                        </td>
                        <td>
                            @item.tuanhoc
                        </td>
                        <td>
                            @item.thoiluonghoc
                        </td>
                     
                            <td>
                        @if (ViewData["Title"] == "Create")
                        {
                            <a class="material-icons" asp-controller="DeCuongchiTiets" asp-action="Create"
                        asp-route-id="@item.mactchuong">mode_edit</a>
                        }
                        else
                        {
                            <a class="material-icons" asp-controller="DeCuongchiTiets" asp-action="Edit"
                        asp-route-id="@item.mactchuong">mode_edit</a>
                        }
                        <a class="material-icons" data-type="confirm" asp-controller="DeCuongchiTiets"
                        asp-action="DeleteChitietchuong" asp-route-id="@item.mactchuong" onclick="return confirm('Bạn chắc chứ?')">delete_forever</a>
                    </td>
       
                    </tr>
                }
            </tbody>
        </table>
    </div>