@model IEnumerable<_CurriculumManagerSystem.Models.Chuongtrinh_Daotao>
@foreach (var item in Model)
{
    <p>Ngành đào tạo      : <b>@item.nganh_daotao</b><br></p>
    <p>Mã số              : <b>@item.maso_ctdt</b><br></p>
    <p>Trình độ đào tạo   : <b>@item.trinhdo_daotao</b><br></p>
    <p>Loại hình đào tạo  : <b>@item.loaihinh_daotao</b><br></p>
    <p>Thời gian đào tạo  : <b>@item.thoigian_daotao</b><br></p>
    <p>Tên văn bằng       : <b>@item.tenvanbang</b><br></p>
    <p>Nơi đào tạo        : <b>@item.noidaotao</b><br></p>
}
@* @foreach (var items in ViewBag.listtgh)
{
    <p>Thời gian học: @items.Hockys.tenhk<br></p>
}
@foreach (var item in Model)
{
    <p>Các yêu cầu khác đối với học phần: @item.yeucaukhacvoi_hocphan<br></p>
}
<p>Đơn vị phụ trách: 
@foreach(var item in ViewBag.listkhoa)
        {
            @item.Bomon.Khoa.tenkh
            break;
        }
</p>
@foreach (var item in ViewBag.listpt)
{

    <p>Người phụ trách: @item.GiangVien.hoten<br></p>
    <p>Chức danh/Học hàm/Học vị: @item.GiangVien.chucdanh/ @item.GiangVien.hocham @item.GiangVien.hocvi<br></p>
    <p>Địa chỉ liên hệ: @item.GiangVien.diachilienhe<br></p>
    <p>Điện thoại: &emsp; Email: @item.GiangVien.diachilienhe<br></p>

}

<p>Các giảng viên tham gia giảng dạy cùng:
    @foreach (var gvp in ViewBag.listptc)
    {
        @gvp.GiangVien.hoten
    }</p> *@
