@model _CurriculumManagerSystem.Models.Khoikienthuc

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Khoikienthuc</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.kkt_ten)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.kkt_ten)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.kkt_mota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.kkt_mota)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.makkt">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
